body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Julius Sans One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
	padding-top: 20px;
	border: 0;
	box-shadow: none;
	background: white;
}

.navbar-brand {
	padding: 0;
}

.navbar-logo {
	height: 50px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
	color: rgb(12, 71, 115);
}

.nav li:hover {
	background: rgba(32, 91, 135, 0.5);
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.navbar-collapse {
	border: 0;
}

.social, .social:hover {
	text-decoration: none;
}

.social {
	color: #777;
}

@media screen and (min-width: 481px) {
	.social {
		font-size: 1.5em;
	}
}

.carousel-caption {
	background: #666;
	background: rgba(102, 102, 102, .8);
	border-radius: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

.carousel-control.left, .carousel-control.right {
	background: none;
}

#carousel-home .carousel-inner .item img {
	margin: auto;
}

@media screen and (max-width: 767px) {
	#carousel-home .carousel-inner .item img {
		max-height: 100px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	#carousel-home .carousel-inner .item img {
		max-height: 300px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	#carousel-home .carousel-inner .item img {
		max-height: 350px;
	}
}

@media screen and (min-width: 1200px) {
	#carousel-home .carousel-inner .item img {
		max-height: 450px;
	}
}

@media screen and (min-width: 768px) {
	.media-list > li > img {
		width: 140px;
	}
}

@media screen and (max-width: 767px) {
	.media-list > li > img {
		width: 40px;
	}
}

.thumbnail, .thumbnail:hover {
	color: black;
	text-decoration: none;
}

.conference-breakout {
	margin: auto;
}

.testimonials {
	background: rgb(12, 71, 115);
	border-radius: 4px;
}

.testimonials blockquote {
	border: 0;
	color: #eee;
}

.partner {
	display: block;
	margin: auto;
}
