body {
	background: rgb(244, 244, 244);
}

hr {
	border-top: 1px dashed #ccc;
}

.jumbotron {
	margin-top: 30px;
	margin-bottom: 0;
	background: white;
	border: 1px solid #d6d6d6;
}

@media screen {
	.container .jumbotron {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.navbar {
	border-radius: 0;
	border: 0;
	background: #626262;
	background: -webkit-linear-gradient(top, rgb(108, 108, 108), rgb(87, 87, 87));
	background: -moz-linear-gradient(top, rgb(108, 108, 108), rgb(87, 87, 87));
	background: -o-linear-gradient(top, rgb(108, 108, 108), rgb(87, 87, 87));
	background: -ms-linear-gradient(top, rgb(108, 108, 108), rgb(87, 87, 87));
	background: linear-gradient(top, rgb(108, 108, 108), rgb(87, 87, 87));
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	color: white;
}

.nav li:hover {
	background: -webkit-linear-gradient(top, rgb(87, 87, 87), rgb(108, 108, 108));
	background: -moz-linear-gradient(top, rgb(87, 87, 87), rgb(108, 108, 108));
	background: -o-linear-gradient(top, rgb(87, 87, 87), rgb(108, 108, 108));
	background: -ms-linear-gradient(top, rgb(87, 87, 87), rgb(108, 108, 108));
	background: linear-gradient(top, rgb(87, 87, 87), rgb(108, 108, 108));
}

.header-logo {
	width: 300px;
}

.team-list > li > img {
	width: 140px;
	border: 4px solid black;
}

.testimonials {
	background: #626262;
	background: -webkit-linear-gradient(top, rgb(108, 108, 108), rgb(87, 87, 87));
	background: -moz-linear-gradient(top, rgb(108, 108, 108), rgb(87, 87, 87));
	background: -o-linear-gradient(top, rgb(108, 108, 108), rgb(87, 87, 87));
	background: -ms-linear-gradient(top, rgb(108, 108, 108), rgb(87, 87, 87));
	background: linear-gradient(top, rgb(108, 108, 108), rgb(87, 87, 87));
	border-radius: 4px;
}

.testimonials blockquote {
	border: 0;
	color: #eee;
}
