{% unless page.url == '/index.html' %}
<ol class="breadcrumb">
	<li><a href="/">C3 Inspire</a></li>
	{% assign crumbs = page.url | split: '/' %}
	{% assign path="" %}
	{% for crumb in crumbs %}
		{% unless crumb == '' or crumb == 'index.html' %}
			{% if forloop.last %}
			<li class="active">{{ crumb | remove: '.html' }}</li>
			{% else %}
			{% capture path %}{{ path }}/{{ crumb | remove: '.html' }}{% endcapture %}
			<li><a href="{{ path }}">{{ crumb | remove: '.html' }}</a></li>
			{% endif %}
		{% endunless %}
	{% endfor %}
</ol>
{% endunless %}
