<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>{{ page.title }} &#8226; {{ site.name }}</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/isotope/1.5.25/jquery.isotope.min.js"></script>
<link href='//fonts.googleapis.com/css?family=Julius+Sans+One|Lato' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/isotope.css">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/styles.css">
<link rel="icon" type="image/png" href="{{ site.url }}/img/icon.png">
<link rel="apple-touch-icon-precomposed" type="image/png" href="{{ site.url }}/img/icon.png">
