<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/"><img src="http://i.imgur.com/MkvMz0G.png" alt="C3 Inspire" class="navbar-logo"></a>
	</div><!-- navbar-header -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/">Home</a></li>
			<li><a href="https://docs.google.com/a/alimconsulting.com/forms/d/1XscEh_9kj_PcFxsPms0W4H4oF_cN9XzDjvhBhDQ6SQI/viewform" class="apply">C3 Next Application</a></li>
			<li class="dropdown">
				<a data-toggle="dropdown" href="#" class="dropdown-toggle" role="button">About <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/about/">About C3</a></li>
					<li><a href="/about/team">About the Team</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a data-toggle="dropdown" href="#" class="dropdown-toggle" role="button">C3 Next <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/c3next/about">About C3 Next</a></li>
					<li><a href="/c3next/schedule">Schedule</a></li>
					<li><a href="/c3next/workshops">Idea Workshops</a></li>
					<li><a href="/c3next/faq">FAQs</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a data-toggle="dropdown" href="#" class="dropdown-toggle" role="button">C3 Conference <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li class="dropdown-header">About</li>
					<li><a href="/c3conference/">About the C3 Conference</a></li>
					<li><a href="/c3conference/schedule">Schedule</a></li>
					<li><a href="/c3conference/breakout">Breakout Sessions</a></li>
					<li><a href="/c3conference/faq">FAQ</a></li>
					<li class="divider"></li>
					<li class="dropdown-header">Upcoming Conferences</li>
					<li><a href="/c3conference/toronto2014/">Toronto 2014</a></li>
					<li class="divider"></li>
					<li class="dropdown-header">Past Conferences</li>
					<li><a href="/c3conference/waterloo2013/">Waterloo 2013</a></li>
					<li><a href="/c3conference/waterloo2012">Waterloo 2012</a></li>
					<li><a href="/c3conference/waterloo2011">Waterloo 2011</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#" role="button">C3 Events <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/inspire/">About C3 Inspire Events</a></li>
					<li class="divider"></li>
					<li class="dropdown-header">Upcoming Events</li>
					<li><a href="/inspire/utsc">C3 Inspire UTSC</a></li>
					<li class="divider"></li>
					<li class="dropdown-header">Past Events</li>
					<li><a href="/inspire/ryerson">C3 Inspire Ryerson</a></li>
					<li><a href="/inspire/spring2013">C3 Inspire Laurier</a></li>
					<li><a href="/inspire/ideashowcase2012">C3 Idea Showcase Waterloo</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#" role="button">Ambassadors <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/c3ambassadors/">C3 Ambassadors</a></li>
					<li><a href="/c3ambassadors/current">Current List of Ambassadors</a></li>
					<li><a href="/c3ambassadors/reception">C3 Ambassador and Networking Reception</a></li>
				</ul>
			</li>
			<li><a href="/partners">Partners</a></li>
			<li><a href="/blog/">Blog</a></li>
			<li><a href="/contact">Contact</a></li>
			<li class="hidden-xs">
				<a href="http://www.facebook.com/c3inspire" target="_blank" class="navbar-icon"><i class="fa fa-fw fa-2x fa-facebook"></i></a>
			</li>
			<li class="hidden-xs">
				<a href="http://twitter.com/c3_conference" target="_blank" class="navbar-icon"><i class="fa fa-fw fa-2x fa-twitter"></i></a>
			</li>
		</ul>
	</div><!-- navbar-collapse -->
</nav>
