<div class="jumbotron text-center">
	<div class="col-md-3 col-xs-4">
		<a href="/"><img src="http://i.imgur.com/MkvMz0G.png" alt="C3 Inspire Logo" class="img-responsive"></a>
	</div>
	<div class="col-md-5 col-xs-4"></div>
	<div class="col-md-1 col-xs-1">
		<a href="http://twitter.com/c3_conference" target="_blank" class="social social-twitter"></a>
	</div>
	<div class="col-md-1 col-xs-1">
		<a href="http://www.facebook.com/c3inspire" target="_blank" class="social social-facebook"></a>
	</div>
	<div class="col-md-1 col-xs-1">
		<a href="http://www.linkedin.com/groups/c3-Conference-4442760" target="_blank" class="social social-linkedin"></a>
	</div>
<div class="clearfix"></div>
</div>
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand visible-xs" href="/">{{ site.name }}</a>
	</div><!-- navbar-header -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/c3ambassadors/reception">Ambassador Reception</a></li>
			<li class="dropdown">
				<a role="button" href="#">About C3</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/about/">About C3</a></li>
					<li><a href="/about/team">About the Team</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a role="button" href="#">C3 Conference</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/c3conference/">C3 Conference</a></li>
					<li class="divider"></li>
					<li class="dropdown-header">Waterloo 2013</li>
					<li><a href="/c3conference/waterloo2013/">Conference</a></li>
					<li><a href="/c3conference/waterloo2013/schedule">Schedule</a></li>
					<li><a href="/c3conference/waterloo2013/breakout">Breakout Sessions</a></li>
					<li><a href="/c3conference/waterloo2013/faq">FAQ</a></li>
					<li class="divider"></li>
					<li><a href="/c3conference/waterloo2012">Waterloo 2012</a></li>
					<li><a href="/c3conference/waterloo2011">Waterloo 2011</a></li>
					<li><a href="/c3conference/toronto">Toronto</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a role="button" href="#">Inspire Events</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/inspire/">Inspire Events</a></li>
					<li><a href="/inspire/spring2013">Spring 2013</a></li>
					<li><a href="/inspire/ideashowcase2012">Idea Showcase 2012</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a role="button" href="#">C3 Ambassadors</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/c3ambassadors/">C3 Ambassadors</a></li>
					<li><a href="/c3ambassadors/current">Current List of Ambassadors</a></li>
					<li><a href="/c3ambassadors/reception">C3 Ambassador and Networking Reception</a></li>
				</ul>
			</li>
			<li><a href="/partners">Partners</a></li>
			<li><a href="/blog/">C3 Blog</a></li>
			<li><a href="/contact">Contact Us</a></li>
		</ul>
	</div><!-- navbar-collapse -->
</nav>
