<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0">
	<title>{{ page.title }} &#8226; {{ site.name }}</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/social-icon-font.css">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/styles.css">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/post.css">
	<link rel="icon" type="image/png" href="{{ site.url }}/img/icon.png">
	<link rel="apple-touch-icon-precomposed" type="image/png" href="{{ site.url }}/img/icon.png">
</head>
<body>
	{% include facebook_js_sdk.html %}
	<div class="container">
		{% include header.html %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ page.title }}</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-8">
					{{ content }}
					<br>
					{% include like_button.html %}
					{% include tweet_button.html %}
					{% include inshare_button.html %}
					{% include plusone_button.html %}
				</div>
				<div class="col-md-4 hidden-xs hidden-sm">
					{% include twitter_timeline.html %}
				</div>
			</div>
		</div>
		{% include testimonials.html %}
		{% include footer.html %}
		<br>
	</div><!-- container -->
	{% include googleplus_sdk.html %}
</body>
</html>
