<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/post.css">
	{% include google_analytics.html %}
</head>
<body>
	{% include facebook_js_sdk.html %}
	<div class="container">
		{% include header.html %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ page.title }}</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-8">
					{{ content }}
					<br>
					<div class="row">
						<div class="col-xs-3">
						{% include like_button.html %}
						</div>
						<div class="col-xs-3">
						{% include tweet_button.html %}
						</div>
						<div class="col-xs-3">
						{% include inshare_button.html %}
						</div>
						<div class="col-xs-3">
						{% include plusone_button.html %}
						</div>
					</div>
				</div>
				<div class="col-md-4 hidden-xs hidden-sm">
					{% include twitter_timeline.html height="600" %}
				</div>
			</div>
		</div>
		{% include testimonials.html %}
		{% include footer.html %}
		<br>
	</div><!-- container -->
	{% include googleplus_sdk.html %}
</body>
</html>
